@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-beetween;
    align-items: center;
    background: rgba(255, 246, 255, 1);
}
body{
    background: rgba(254, 244, 254, 1);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c1946a;
    font-weight: bold;
}
.logo {
    position: relative;
    padding: 0px -20px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: whitesmoke;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header ul li a:hover,
header ul li a.active {
    background:#ffff;
    color: #CD853F;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
.content .textBox h2 {
    color: #333;
    font-size: 4em;
    Line-height: 1.4em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.content .textBox h2 span {
    color: #bc5a45;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p {
    color: black;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #c1946a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox a:hover, 
.content .textBox a.active{
    background: #A0522D;
    color: #CD853F;
}
img.kanan {
    float: right;
    margin: -50px;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F5DEB3;
    clip-path: circle(600px at right 800px);
}
footer {
    background: #DEB887;
    height: auto;
    width: auto;
    padding-top: 40px;
    color: black;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -20px;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inti {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1 rem 0 3rem 0;
}
.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #c1946a;
}
.about-img{
    padding-top: 100px;
    padding-left: 100px;
}
.about-text{
    width: 550px;
    padding-top: 90px;
    padding-left: 40px;
    text-align: justify;
}
.main{
    width: auto;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.about-text h2{
    color: #684c38;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.idol h2{
    color: #684c38;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.idol p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: -100px;
}
.section-idol{
    padding: 100px;
    margin: 100px;
}
.container{
    width: 400px;
    height: 225px;
}
.proyeksi h2 {
    color: #A0522D;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.proyeksi p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: -100px;
}
.proyeksi img{
    padding-top: 30px;
}
.steps {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: wheat;
}
.langkah {
    font-size: 3rem;
    margin: 2rem 0 rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7c3f06;
}
.step {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #A0522D;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #684c38;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.step.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.step.active svg {
    transform: rotate(100deg);
}

svg {
    transition: transform 0.5s ease-in;
    color:#A0522D
}
.depan {
    padding-bottom: 60px;
}
.followme{
    font-size: 20px;
    padding: 15px;
    color: black	;
    font-weight: bold;
}
.photo {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    align-items: center
}
.vacay h1{
    color: #754c2d;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
.vacay h5{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D2691E;
    text-align: center;
}
.vacay h3{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: justify;
    text-align: center;
}
.vacay p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.vacay h2{
    color: #964b00;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;

}
.vacay h4{
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vacay h4 span{
    color: saddlebrown;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}